{$SITE_ADDRESS::80} {
	encode gzip

	@api path /trpc/* /api/* /s/* /f/* /health
	handle @api {
		reverse_proxy {$API_UPSTREAM:api:3000}
	}

	handle {
		root * /srv
		try_files {path} /index.html
		file_server
	}
}
